﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Book
@{
    ViewData["Title"] = "Book details";

    ViewData["Message-edit"] = TempData["message-edit"];
    ViewData["Edit"] = TempData["edit"];

    ViewData["Message-create"] = TempData["message-create"];
    ViewData["Create"] = TempData["create"];

}

@if (ViewData["Message-edit"] != null || ViewData["Message-create"] != null)
{
    @if (ViewData["Edit"] != null)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Book edited!</h4>
            @ViewData["Message-edit"]
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Book added to the system!!</h4>
            @ViewData["Message-create"]
        </div>
    }
}

<h1> @ViewData["Title"]</h1>
<br/>
<p><h3>@Model.Title</h3></p>
<p><strong>Author: </strong>@Model.Author.AuthorName</p>
<p><strong>ISBN: </strong>@Model.ISBN</p>
<p><strong>Genre: </strong>@Model.Genre</p>

@if (@Model.IsAvailable)
{
    <p><strong>Available: </strong>Yes</p>
}
else
{
    <p><strong>Available: </strong>No</p>
}


<p>
    <a class="btn btn-primary"
       asp-controller="Book"
       asp-action="Edit"
       asp-route-id="@Model.BookId">Edit</a>
</p>
<br />
<a asp-action="List">Back to List</a>
<br />
<br />

@*TODO: Button to add book to check in*@