﻿@using Microsoft.CodeAnalysis.CSharp.Syntax
@model IEnumerable<Book>

@{int i = 1;}

@{
    ViewData["Title"] = "List";
    ViewData["Message"] = TempData["message-delete"];
    ViewData["Search"] = TempData["search"];
}

<h1>Book list</h1>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Book deleted!</h4>
        @ViewData["Message"]
    </div>
}

<div class="row">
    <div class="col">
        <p>
            <a asp-action="Create" asp-controller="Book">Add Book</a>
        </p>
    </div>
    <div class="col">
        <form asp-controller="Book" asp-action="List">
            <p align="right">

                @if (ViewData["Search"] != null)
                {
                    <input type="search" id="SearchBox" name="SearchString" placeholder=@ViewData["Search"]>
                    <input type="submit" value="Search" class="btn btn-primary" size="50" />
                }
                else
                {
                    <input type="search" id="SearchBox" name="SearchString" placeholder="Book/Author/Genre">
                    <input type="submit" value="Search" class="btn btn-primary" size="50" />
                }

            </p>
        </form>
    </div>

</div>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*Column with int indicating order*@
                    <span><b>@(i++)</b></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <p>Yes</p>
                    }
                    else
                    {
                        <p>No</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId },
                        new { onclick = "return confirm('Are you sure you wish to delete this book from the system?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
